img {
  width: 100%;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.speed {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 10px;
  border-radius: 6px;
  height: 44px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(12, 12, 12);
  background-color: #ffffff;

  mat-icon {
    margin-right: 5px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
  background-color: rgba(0, 0, 0, .6);

  span {
    cursor: default;
    display: flex;
    height: 38px;
    align-items: center;
    color: #fff;

    mat-icon {
      height: auto;
      font-size: 17px;
      padding: 0;
      margin: 0;
    }
  }
}