<div class="content">
  <h2>Configuration</h2>

  <form>
    <mat-form-field class="full-width">
      <input matInput placeholder="Lieu de départ">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Lieu d'arrivée">
    </mat-form-field>

    <mat-select placeholder="Allure souhaitée">
      <mat-option value="">Balade</mat-option>
      <mat-option value="">Sportif</mat-option>
      <mat-option value="">Touriste</mat-option>
    </mat-select>

    <mat-select placeholder="Type de vélo">
      <mat-option value="">VTT</mat-option>
      <mat-option value="">De course</mat-option>
      <mat-option value="">De ville</mat-option>
    </mat-select>

    <button mat-raised-button color="primary" class="full-width" type="submit">
      Valider
    </button>
  </form>
</div>